@font-face {
  font-family: "Avenir", sans-serif;
  src: url(Avenir/Avenir\ Heavy.ttf);
  /* font-weight: bold; */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Avenir", sans-serif;
}
button {
  background: #252525;
  border-radius: 16px;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
}
.header {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: center;
  margin: 65px 40px;
}
.header-content {
  grid-column: 2 / span 2;
}
.header-content h1 {
  font-size: 67px;
  font-weight: 350;
  color: #252525;
  line-height: 80px;
  margin-bottom: 10px;
  text-align: center;
}
.header-content p {
  font-size: 27px;
  line-height: 36px;
  margin-bottom: 20px;
  color: rgba(37, 37, 37, 0.8);
}
.header-content button {
  width: 158px;
  height: 54px;
  /* padding: 18px 48px; */
  margin-bottom: 55px;
}
.item1 {
  grid-column: 1;
  grid-row: 2;
}
.item2 {
  grid-column: 2;
  grid-row: 2;
}
.item3 {
  grid-column: 3;
  grid-row: 2;
}
.item4 {
  grid-column: 4;
  grid-row: 2;
}
.item5 {
  grid-column: 1;
  grid-row: 3;
}
.item6 {
  grid-column: 2;
  grid-row: 3;
}
.item7 {
  grid-column: 3;
  grid-row: 3;
}
.item8 {
  grid-column: 4;
  grid-row: 3;
}
.item img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* First Feature */
.fir-feature {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 41px;
  margin: 119px 45px;
  grid-row-gap: 76px;
}
.fir-feature h1 {
  font-size: 56px;
  line-height: 80px;
  color: #252525;
  margin-top: 74px;
  margin-bottom: 14px;
}
.fir-feature p {
  width: 95%;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 23px;
  color: rgba(37, 37, 37, 0.8);
}
.fir-feature button {
  width: 157px;
  height: 50px;
  /* padding: 16px 20px; */
}
.fir-feature img {
  border-radius: 16px;
  width: 100%;
  height: auto;
  object-fit: cover;
}
.img-left {
  padding-left: 9px;
}
.img-right {
  padding-top: 157px;
}
.fir-img-card p {
  font-size: 40px;
  margin-top: -6px;
  margin-bottom: 12px;
}
/* Second Feature */
.se-feature {
  display: grid;
  grid-template-columns: 55% 45%;
  /* gap: 51px; */
  grid-row-gap: 120px;
  margin: 181px 44px 120px;
}
.se-feature-title h1 {
  font-size: 88px;
  line-height: 80px;
}
.se-feature-para {
  padding-left: 67px;
}
.se-feature-para p {
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 14px;
}
.se-feature-para button {
  width: 157px;
  height: 50px;
}
.se-feature-img {
  grid-column: span 2;
}
.se-feature-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Third Feature */
.thi-feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 50px;
}
.thi-feature-content {
  padding: 13px 99px;
}
.thi-feature-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.thi-feature-content h1 {
  font-size: 64px;
  line-height: 80px;
  margin-bottom: 25px;
}
.thi-feature-content p {
  font-size: 26px;
  line-height: 36px;
  margin-bottom: 30px;
}
.thi-feature-content button {
  width: 157px;
  height: 53px;
}
.thi-feature-downContent {
  margin-top: 84px;
}
.thi-feature-downContent h2 {
  font-size: 33px;
  line-height: 51px;
}
.thi-feature-downContent p {
  font-size: 24px;
  line-height: 34px;
  margin-bottom: 34px;
}
/* Fourth Feature */
.fou-feature {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  grid-row-gap: 69px;
  margin: 85px 41px;
}
.fou-feature-title h1 {
  font-size: 88px;
  font-weight: 800;
  line-height: 104px;
}
.fou-feature-title {
  grid-column: span 2;
}
.card1 {
  grid-column: 1;
  grid-row: 2;
}
.card2 {
  grid-column: 2;
  grid-row: 2;
}
.card3 {
  grid-column: 3;
  grid-row: 2;
}
.fou-feature-card h2 {
  font-size: 33px;
  margin-bottom: 2px;
  color: rgba(37, 37, 37, 0.55);
}
.fou-feature-card p {
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 23px;
  color: rgba(37, 37, 37, 0.8);
}
.fou-feature-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* Fifth Content */
.fif-feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 27px;
  margin: 121px 40px 59px;
}
.fif-feature-title {
  padding: 45px 0px 45px 25px;
}
.fif-feature-title h1 {
  font-size: 64px;
  line-height: 80px;
  padding-bottom: 32px;
  font-family: "Playfair Display", serif;
}
.fif-feature-para {
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 32px;
}
.btn-order {
  width: 219px;
  height: 66px;
  margin-right: 28px;
  margin-bottom: 70px;
  font-size: 25px;
}
.btn-explore {
  background-color: #ffffff;
  color: #252525;
  width: 254px;
  height: 66px;
  font-size: 26px;
}

.fif-feature-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.list-icons {
  display: flex;
  border: 1px solid #111111;
  border-radius: 24px;
  padding: 25px 0px 25px 25px;
  gap: 63px;
  margin-left: -23px;
}
.se-icon {
  /* padding-left: 16px; */
}
.icons i {
  font-size: 23px;
}
.icons p {
  font-weight: 400;
  font-size: 18px;
  line-height: 19px;
}

/* Sixth Feature */
.six-feature {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 13px;
  margin: 80px 42px 60px;
}
.six-feature h1 {
  grid-column: span 3;
  font-weight: 800;
  font-size: 72px;
  line-height: 88px;
  color: #252525;
  margin-bottom: 53px;
  width: 90%;
}
.six-card1 {
  grid-column: 1;
  grid-row: 2;
}
.six-card2 {
  grid-column: 2;
  grid-row: 2;
}
.six-card3 {
  grid-column: 3;
  grid-row: 2;
}
.six-card4 {
  grid-column: 4;
  grid-row: 2;
}
.six-feature-card h2 {
  font-size: 35px;
  line-height: 55px;
  margin-bottom: 15px;
  color: rgba(37, 37, 37, 0.35);
}
.six-feature-card p {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 22px;
  line-height: 33px;
  color: rgba(37, 37, 37, 0.8);
}
.six-feature-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.overlay-text {
  /* position: absolute; */
  /* top: 33%; */
  left: 3%;
  transform: translate(0%, -105%);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.49) 100%
  );
  color: white;
  padding: 10px;
  /* width: 22%; */
  z-index: 1;
  padding: 2px 25px;
  border-radius: 0 0 24px 24px;
}
.overlay-text h2 {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  color: #252525;
  margin-bottom: 0px;
}
.overlay-text p {
  font-family: "Avenir";
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: #252525;
}
/* Seventh Feature */
.sev-feature {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  padding: 69px 40px 0px;
  background: linear-gradient(295.04deg, #9c2004 5.77%, #ab2706 97.94%);
}
.sev-feature img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.sev-feature-content {
  margin: 63px 0px 0px 162px;
}
.sev-feature-content h1 {
  font-family: "Work Sans", sans-serif;
  font-weight: 700;
  font-size: 88px;
  line-height: 104px;
  color: #ffffff;
  margin-bottom: 40px;
}
.sev-feature-content p {
  font-family: "Work Sans", sans-serif;

  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-bottom: 40px;
}
.sev-feature-content button {
  font-family: "Work Sans", sans-serif;
  padding: 22px 56px;
  gap: 10px;
  width: 231px;
  height: 82px;
  background: #e5b94b;
  border: none;
  border-radius: 36px;
  color: #111111;
  font-size: 32px;
}
/* Eight Feature */
.eig-feature {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr, 0.7fr;
  background: linear-gradient(122.62deg, #c8cccf 5.59%, #97a3a3 84.01%);
  padding: 0px 40px;
}
.eig-feature-content {
  grid-column: span 3;
  transform: translate(29%, 13%);
  z-index: 1;
}
.eig-feature-content h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 88px;
  line-height: 104px;
  color: #363830;
  margin-bottom: 15px;
}
.eig-feature-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  padding-right: 130px;
  color: #363830;
  margin-bottom: 17px;
  width: 99%;
}
.eig-feature-content button {
  font-family: "Poppins", sans-serif;
  gap: 10px;
  width: 183px;
  height: 66px;
  border: 1px solid #363830;
  border-radius: 36px;
  font-size: 24px;
}
.eig-right-img {
  grid-column: span 2;
}
.eig-left-img {
  grid-column: span 2;
  transform: translate(0, -18%);
  width: 88%;
}
.eight-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.eig-feature-list {
  grid-column: 3 / span 3;
}
.list-content {
  display: grid;
  width: 120%;
  grid-template-columns: repeat(3, 0.5fr);
  padding: 42px 91px;
  gap: 84px;
  background: linear-gradient(
    95.95deg,
    rgba(255, 255, 255, 0.3) 6.59%,
    rgba(255, 255, 255, 0.18) 96.07%
  );
  border-radius: 144px;
  transform: translate(-18%, 29%);
}
.list-content h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #363830;
  margin-bottom: 19px;
}
.list-content hr {
  width: 18%;
  border: 2px solid #363830;
  margin-bottom: 17px;
  margin-left: 0px;
}
.list-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #363830;
}
/* Last Feature */
.last-feature {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 65px 40px;
  background-color: #2f2f2f;
  gap: 17px;
  grid-row-gap: 9px;
}
.last-feature-content {
  grid-column: span 3;
  grid-row: span 4;
  padding: 104px 21px 0px 71px;
}
.last-feature-content h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 71px;
  line-height: 108px;
}
.first-text {
  color: #fec3c7;
}
.mid-text {
  color: #9ad7f3;
}
.last-text {
  color: #6bdfda;
  margin-bottom: 25px;
}
.last-feature-content p {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  margin-bottom: 24px;
}
.last-feature-content button {
  font-family: "Poppins", sans-serif;
  width: 181px;
  height: 68px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 36px;
  color: #111111;
}
.last-feature img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  /* Header */
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    text-align: center;
    margin: 40px;
  }
  .header-content {
    grid-column: span 2;
  }
  .item1 {
    grid-column: 1;
    grid-row: 2;
  }
  .item2 {
    grid-column: 2;
    grid-row: 2;
  }
  .item3 {
    grid-column: 1;
    grid-row: 3;
  }
  .item4 {
    grid-column: 2;
    grid-row: 3;
  }
  .item5 {
    grid-column: 1;
    grid-row: 4;
  }
  .item6 {
    grid-column: 2;
    grid-row: 4;
  }
  .item7 {
    grid-column: 1;
    grid-row: 5;
  }
  .item8 {
    grid-column: 2;
    grid-row: 5;
  }
  /* First Feature */
  .fir-feature {
    display: grid;
    margin: 0px 45px;
    grid-template-columns: repeat(1, 1fr);
  }
  .first-image {
    padding-top: 1px;
  }
  /* Second Feature */
  .se-feature {
    display: grid;
    row-gap: 20px;
    /* grid-template-columns: repeat(1, 1fr); */
    margin: 75px 47px 125px;
  }
  .se-feature-title {
    grid-column: span 2;
  }
  .se-feature-para {
    grid-column: span 2;
    padding-left: 10px;
  }
  /* Third Feature */
  .thi-feature-img {
    grid-column: span 2;
    grid-row: 2;
  }
  .thi-feature-content {
    padding: 13px 20px;
    grid-column: span 2;
  }
  /* Fourth Feature */
  .fou-feature-title {
    grid-column: span 3;
  }

  /* Fifth Feature */
  .fif-feature-content {
    grid-column: span 2;
  }
  .btn-order {
    margin-right: 28px;
    margin-bottom: 20px;
  }
  .btn-explore {
    width: 219px;
    height: 66px;
    margin-bottom: 20px;
  }
  .list-icons {
    margin-left: 0px;
  }
  .fif-feature-img {
    grid-column: span 2;
  }
  /* Sixth Feature */
  .six-feature h1 {
    grid-column: span 4;
  }
  /* seventh Feature */
  .sev-feature-img {
    grid-column: span 2;
  }
  .sev-feature-content {
    grid-column: span 2;
    margin: 66px 0px 40px 0px;
  }
  /* Eighth Feature */
  .eig-feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 40px;
  }
  .eig-feature-content {
    grid-column: span 3;
    transform: translate(0%, 0%);
  }
  .eig-right-img {
    display: none;
  }
  .eig-left-img {
    display: none;
  }
  .eig-feature-content {
    grid-column: span 3;
    transform: translate(0%, 0%);
  }
  .list-content {
    display: grid;
    width: 90%;
    padding: 17px 22px;
    border-radius: 50px;
    transform: translate(5%, 0%);
    margin: 30px 0;
  }

  .eig-feature-list {
    grid-column: span 3;
  }

  /* Last feature */
  .last-feature {
    grid-template-columns: repeat(4, 1fr);
  }
  .last-feature-content {
    grid-column: span 4;
    text-align: center;
    padding: 20px 0px 72px;
  }
  .last-feature-content button {
    margin-bottom: 20px;
  }
}
@media screen and (min-device-width: 768px) and (max-device-width: 1200px) {
  /* Fifth Content */
  .btn-order {
    margin-right: 28px;
    margin-bottom: 20px;
  }
  .btn-explore {
    width: 219px;
    height: 66px;
    margin-bottom: 20px;
  }
  /* seventh Feature */
  .sev-feature-content {
    margin: 63px 0px 20px 162px;
  }
  /* Eighth Content */
  .eig-feature {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px 40px;
  }
  .eig-feature-content {
    grid-column: span 2;
    transform: translate(0%, 0%);
  }
  .eig-right-img {
    grid-column: span 1;
    /* display: none; */
  }
  .eig-left-img {
    display: none;
  }
  .eig-feature-list {
    grid-column: span 3;
  }
  .list-content {
    width: 80%;
    gap: 60px;
    border-radius: 144px;
    transform: translate(12%, 6%);
    margin: 40px 0px;
  }
}
@media screen and (max-width: 620px) {
  /* Fourth Feature */
  .card1 {
    grid-column: 1 / span 3;
    grid-row: 2;
  }
  .card2 {
    grid-column: 1 / span 3;
    grid-row: 3;
  }
  .card3 {
    grid-column: 1 / span 3;
    grid-row: 4;
  }
  /* Sixth feature */
  .six-card1 {
    grid-column: 1 / span 4;
    grid-row: 2;
  }
  .six-card2 {
    grid-column: 1 / span 4;
    grid-row: 3;
  }
  .six-card3 {
    grid-column: 1 / span 4;
    grid-row: 4;
  }
  .six-card4 {
    grid-column: 1 / span 4;
    grid-row: 5;
  }
  /* Fifth Feature */
  .list-icons {
    display: flex;
    width: 100%;
    gap: 23px;
    flex-direction: column;
    text-align: center;
  }
  /* Eighth Feature */
  .list-content {
    grid-template-rows: repeat(3, 0.5fr);
    grid-template-columns: 100%;
    gap: 20px;
  }
}
@media screen and (min-width: 620px) and (max-width: 800px) {
  /* Sixth feature */
  .six-card1 {
    grid-column: 1 / span 2;
    grid-row: 2;
  }
  .six-card2 {
    grid-column: 3 / span 2;
    grid-row: 2;
  }
  .six-card3 {
    grid-column: 1 / span 2;
    grid-row: 3;
  }
  .six-card4 {
    grid-column: 3 / span 2;
    grid-row: 3;
  }
  .six-feature {
    gap: 20px;
  }
}
